# Dependencies
node_modules/
/.pnp
.pnp.js

# Production
/dist
/build
/static

# Misc
.DS_Store
.env.local
.env.*.local
*.log
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing
/coverage
.nyc_output
